# Server Configuration
# The port the router will listen on
VAULT_SERVER_PORT=:8080

# The timeout for the server
VAULT_SERVER_TIMEOUT=5s

# Cluster Configuration
# A comma-separated list of backend node URLs
VAULT_CLUSTER_NODES=http://localhost:8081,http://localhost:8082,http://localhost:8083
